{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header-actions">
        <h2>Productos Registrados</h2>
        <a href="{% url 'registro_producto' %}" class="btn btn-primary">Registrar Producto</a>
    </div>

    <!-- Tabla de productos -->
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Fecha de Ingreso</th>
                <th>Fecha de Modificación</th>
                {% if es_admin %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.marca.nombre }}</td>
                    <td>{{ producto.categoria.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.fecha_ingreso }}</td>
                    <td>{{ producto.fecha_modificacion }}</td>
                    {% if es_admin %}
                    <td>
                        <a href="{% url 'editar_producto' producto.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-delete">Eliminar</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}