body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Encabezados */
h1, h2, h3 {
    color: #333;
}

h1 {
    text-align: center;
}

/* Formularios */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

input:focus, select:focus {
    border-color: #888;
    outline: none;
}

/* Botones */
.btn {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #5cb85c;
    color: white;
}

.btn-primary:hover {
    background-color: #4cae4c;
}

.btn-edit {
    background-color: #f0ad4e;
    color: white;
}

.btn-edit:hover {
    background-color: #ec971f;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
}

.btn-delete:hover {
    background-color: #c9302c;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}


/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #e0e0e0;
    color: #333;
}

/* Enlaces */
a {
    color: #5cb85c;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #4cae4c;
}

/* Mensajes de éxito */
.success-message {
    color: #5cb85c;
    font-weight: bold;
    text-align: center;
}

/* Características */
.caracteristica-form {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}